name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3

      - name: Validate root config
        run: mise run validate-renovate-root

      - name: Validate presets
        run: mise run validate-renovate-presets
